{% extends "base.html" %}
{% load i18n %}
{% load blog %}

{% block title %}{% trans 'Post list' %}{% endblock %}

{% block content %}
{% for post in post_list %}
<div class="post">
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    <p>{{ post.content }}</p>
    <p class="note">{% trans 'Posted on' %} {{ post.pub_date|date:"Y M d" }} {% trans 'by' %} {{ post.author }}</p>
</div>
{% endfor %}

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.number|add:"-1" }}" class="pagination">{% trans 'Previous posts' %}</a>
{% endif %}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.number|add:"1" }}" class="pagination">{% trans 'Next posts' %}</a>
{% endif %}
{% endblock %}
