{% extends "base.html" %}
{% load i18n %}
{% load blog %}

{% block title %}{% trans 'Post list' %}{% endblock %}

{% block content %}
{% for post in post_list %}
<div class="post">
    <span class="meta">{{ post.pub_date|date:"Y M d" }}</span>
    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    {{ post.content }}
</div>
{% endfor %}

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.number|add:"-1" }}">{% trans 'Previous posts' %}</a>
{% endif %}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.number|add:"1" }}">{% trans 'Next posts' %}</a>
{% endif %}
{% endblock %}