{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<h2>{% trans 'Discussion on' %} <a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h2>

{% if page_exists %}
    {% load comments %}
    {% render_comment_list for page %}
    {% render_comment_form for page %}
{% else %}
  <p>{% trans 'This page does not exist. To create this page please click' %} <a href="{{ page.get_edit_url }}">{% trans 'here' %}</a>.</p>
{% endif %}
{% endblock %}
